@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-black text-white ;
  @apply font-roboto;
}

@layer components {
  .max-container{
    margin: 60px;
  }
}

.hover-line {
  position: relative;
  display: inline-block;
}
.hover-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
}
.hover-line:hover::after {
  width: 100%;
}