@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-black text-white;
  @apply font-roboto;
  
  /* background-image: url(https://images.unsplash.com/photo-1675981004502-cb3961785a38?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) */
}

@layer components {
  .max-container{
    margin: 0px 60px;
  }
}

.hover-line {
  position: relative;
  display: inline-block;
}
.hover-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
}
.hover-line:hover::after {
  width: 100%;
}
.carousel-container {
  width: 100%;
   /* Adjust height as needed */
}

.carousel-track {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: scroll 10s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.carousel-track img {
  width: 1/4; /* Adjust width as needed */
  height: auto;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-track img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@layer components {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust based on the number of images */
    }
  }
}

.image-container {
  position: relative;
  width: 100%; /* Ensure it fits within the carousel */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}